<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-outlines"
	xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Timesheet - Portal</title>
<link rel='stylesheet'
	href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet'
	href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css'>
<link rel='stylesheet'
	href='https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css'>
<link rel='stylesheet'
	href='https://cdn.jsdelivr.net/npm/boxicons@2.0.0/css/boxicons.min.css'>
<link rel="stylesheet" href="/style.css">

</head>
<body>
	<!-- partial:index.partial.html -->
	<div class="container" style="max-width: 95% !important">
		<div style="margin-top: 20px;">
			<input type="text" id="timesheetEndPoint"
				th:field="*{timesheetUrl.url}"
				placeholder="Enter your timesheet endpoint"
				style="min-width: 300px; font-size: 13px;">
			<button class="badge badge-success badge-success-alt"
				style="border: 0px; font-size: 13px; background-color: #3b89ec !important; color: #ffffff !important; font-weight: 400;"
				type="button" id="timesheetEndPointBtn">Update Timesheet
				Endpoint</button>


			<input type="text"
				style="min-width: 300px; float: right; font-size: 13px;"
				th:value="${'http://65.1.248.194:2020/invokeFillTimesheet'}">

			<button class="badge badge-success badge-success-alt"
				style="border: 0px; float: right; font-size: 13px; background-color: #00c950; color: #fffffe; margin-right: 5px; font-weight: 400;"
				type="button">Configure this URL in github hooks -></button>

			<a class="badge badge-success badge-success-alt"
				style="border: 0px; float: right; font-size: 13px; background-color: #757bf4; color: #ffffff; margin-right: 20px; font-weight: 400;"
				href="/docs">Documentations</a>
		</div>


		<div class="row py-5">
			<div class="col-12">
				<table id="example" class="table table-hover responsive nowrap"
					style="width: 100%">
					<thead>
						<tr>
							<th>Log Hours</th>
							<th>Email</th>
							<th>JIRA_TICKET_ID</th>
							<th>Date</th>
							<th>Description</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody style="font-size: 14px;">
						<tr th:each="timesheet : ${timesheets}">
							<td><a href="#">
									<div class="d-flex align-items-center">
										<div class="">
											<p class="font-weight-bold mb-0"
												th:text="${timesheet.logHours}"></p>
										</div>
									</div>
							</a></td>
							<td th:text="${timesheet.email}"></td>
							<td th:text="${timesheet.JIRA_TICKET_ID}"></td>
							<td th:text="${timesheet.date}"></td>
							<td th:text="${timesheet.Description}"></td>
							<td><span
								th:if="${timesheet.status!=null && #strings.equalsIgnoreCase(timesheet.status, 'Success')}"
								class="badge badge-success badge-success-alt"
								th:text="${timesheet.status}"></span> <span
								th:if="${timesheet.status!=null && #strings.equalsIgnoreCase(timesheet.status, 'NA - Log Hours Missing')}"
								class="badge badge-success badge-failure-alt"
								th:text="${timesheet.status}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- partial -->

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'></script>
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js'></script>
	<script
		src='https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js'></script>
	<script
		src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js'></script>

	<script src="/script.js"></script>

	<script type="text/javascript">
$('#timesheetEndPointBtn').on('click', function(){
	$.ajax({
		url : '/updateTimesheetUrl',
		type : 'POST',
		data : {url : $('#timesheetEndPoint').val()},
		success : function(data) {
			if (data) {
				location.reload();
			} else {
			}
		},
		complete : function(data) {
		}
	});
})
</script>

</body>
</html>
